    <% if status == 'deadline_extended' %>
    Currently <strong>deadline extended</strong> from <%= public_body_link(@info_request.public_body) %>,
        they must respond promptly and normally no later than <strong><%= simple_date(@info_request.date_deadline_extended) %></strong>
        (<%= link_to "details", "/help/requesting#deadline_extended" %>).
    <% elsif status == 'wrong_response' %>
        <%= public_body_link(@info_request.public_body) %> has replied but the response <strong>does not correspond to the request</strong>.
    <% else %>
        <% raise "unknown status " + status %>
    <% end %>
