        <div>
            <%= radio_button "incoming_message", "described_state", "deadline_extended", :id => 'deadline_extended' + id_suffix %>
            <label for="deadline_extended<%=id_suffix%>"><%= _('Authority has requested <strong>deadline extension.</strong>') %></label>
        </div>
