Së pari, shkruaj <strong>emrin e autoritetit publik</strong> prej </strong>
<br>të cilit kërkoni informata. <strong>Sipas ligjit, ata duhet të përgjigjen</strong>
(<a href="<%= help_about_url %>">pse?</a>).
