<h2>
  <strong>E Drejta Juaj</strong>
</h2>
<p>Çdo qytetar ka të drejtë të ketë qasje në informatat e mbajtura nga autoritetet publike. <strong>Sipas ligjit, ata duhet të përgjigjen në kërkesat për informata zyrtare</strong>. <a href="<%= help_about_url %>">Lexo rreth kësaj teme.</a></p>
