<% @title = "About" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
	<h1 id="introduction">O Portalu InformataZyrtare.org <a href="introduction"></a> </h1>
	<dl>


	<dd>Ova je stranica je u pripremi.
	</dd>

	<div id="hash_link_padding"></div>
</div>
