<% @title = "Credit where credit is due" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">
<h1 id="credits"><%= @title%> <a href="#credits">#</a> </h1>

<dl>


<div id="hash_link_padding"></div>
</div>
