<% @title = "Vaša privatnost" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">
<h1 id="privacy"><%= @title %> <a href="#privacy"></a> </h1>

<dd><p>Ova je stranica je u pripremi.</p>
</dd>

<div id="hash_link_padding"></div>
</div>

