<% @title = "Podnošenje zahteva" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">
<h1 id="making_requests"><%= @title %> <a href="#making_requests"></a> </h1>
<dl>

<dd>
<p>Ova je stranica je u pripremi.</p>
</dd>

<div id="hash_link_padding"></div>
</div>

